extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title
  .row
    .col-12.col-lg-8
      p 
        hr
        |  Fitzee  is created by AIML-C students to calculate BMI(Body Mass Index).
        br
        hr
        | Let us help you find the perfect plan to your diet.
        br
        hr
        | Fitzee not only calculates the BMI but also suggests a diet plan based on the BMI category (underweight, normal, overweight, obese)
        br
        |
        hr