
extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= "ABOUT"
  
  .row
    .col-12.col-lg-8
      p 
        hr
        | Welcome!
        br
        | This platform offers event management services.
        br
        hr
        | Manage Your Events with Ease:
        br
        | We provide a seamless platform to create, organize, and manage events effortlessly. Whether it's fitness events, workshops, or corporate seminars, we've got you covered.
        br
        | Our platform allows you to customize event details, manage participants, and ensure smooth operations throughout the event lifecycle.
        br
        hr
        | Event Management Features:
        br
        | - Create and schedule events
        br
        | - Send invitations and track RSVPs
        br
        | - Manage venues, speakers, and resources
        br
        | - Monitor event attendance and feedback
        br
        hr

